<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnvMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnvMan.Properties.Settings>
            <setting name="FrmWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="FrmSize" serializeAs="String">
                <value>740, 560</value>
            </setting>
            <setting name="OnlyOneInstance" serializeAs="String">
                <value>True</value>
            </setting>
        </EnvMan.Properties.Settings>
    </userSettings>
</configuration>