<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnvManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnvManager.Properties.Settings>
            <setting name="FrmEditWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmEditWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="FrmSize" serializeAs="String">
                <value>331, 319</value>
            </setting>
            <setting name="SpliterPosition" serializeAs="String">
                <value>197</value>
            </setting>
        </EnvManager.Properties.Settings>
    </userSettings>
</configuration>